* {margin: 0;
  padding: 0;

  }

  .fondo{ background-image: url(kitchen-4043098_1920.jpg);
    height: 75vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  
}
  
  .navegacion ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .navegacion li {
    margin-left: 1.5rem;
  }
  
  .navegacion a {
    text-decoration: none;
    color: rgb(128, 139, 150);
    font-size: 1.2rem;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
  }
  
  .navegacion a:hover {
    color: rgb(133, 146, 158);
  }
  
  .comienzo h1{
    padding: 20px;
    display: flex;
align-items: center;
justify-content: center;
}
.comienzo p{padding-inline-start: 20px;}

.row {margin-top: 50px;
  background-color: #d7dbdd;
  padding: 20px;
  border-radius: 10px;
}

  .form-container {
    margin-top: 50px;
    background-color: #d7dbdd;
    padding: 20px;
    border-radius: 10px;
}


label {
    color: #85929e;
    font-weight: bold;
}

input[type="text"], input[type="email"], textarea {
    background-color: #bdc3c7;
    border-color: #bdc3c7;
    color: #ffffff;
}

input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
    background-color: #bfc9ca;
    border-color: #bfc9ca;
    color: #ffffff;
}
.title{font-size: 25px;}

.btn-primary {
    background-color: #b2babb;
    border-color: #b2babb;
}

.btn-primary:hover {
    background-color: #85929e;
    border-color: #85929e;
}
.redes a i{color: #85929e;
;}

.enlaces a{text-decoration: none;
color: darkgrey ;
}

.nav a{ text-decoration: none;
color: #b2babb;
}